# Environnements virtuels
venv3/

# Python
*.pyc
__pycache__/

# Logs
*.log

# Bases de données
db.sqlite3
*.sqlite3

# Variables d'environnement
.env

# Django
staticfiles/
media/

# IDE
.vscode/
.idea/

# Système
.DS_Store
